@model PhotoBrowser.Models.LoginViewModel
@{
    ViewData["Title"] = "View";
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Connect to pictures</legend>
        <p>
            <label>Session ID</label>
            @Html.TextAreaFor(m => m.SessionID)
        </p>

        <input type="submit" value="Connect" />
    </fieldset>
}
