<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="~/scripts/proxies/statusApiProxy.js"></script>
    <script src="~/scripts/logic/session.js"></script>
    <script src="~/scripts/logic/status.js"></script>
    <script src="~/scripts/pages/home.js"></script>
</head>
<body>
    <header>
        @Html.ActionLink("New Session", null, "Session")
    </header>

    <h2>Session</h2>
    <p>Status:  <span id="status" /></p>
    <p># of images:  <span id="imageCount" /></p>

    <h2>Photos</h2>

    <script type="text/javascript">
        bootstrapHome();
    </script>
</body>
</html>