
@{
    ViewData["Title"] = "View";
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <header>
        @Html.ActionLink("New Session", null, "Session")
    </header>

    <h2>View</h2>
</body>
</html>