<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="~/scripts/proxies/statusApiProxy.js"></script>
    <script src="~/scripts/proxies/searchApiProxy.js"></script>
    <script src="~/scripts/logic/status.js"></script>
    <script src="~/scripts/logic/search.js"></script>
    <script src="~/scripts/pages/home.js"></script>
</head>
<body>
    <header>
        @Html.ActionLink("New Session", null, "Session")
    </header>

    <h2>Session</h2>
    <p>Status:  <span id="status"></span></p>
    <p># of images:  <span id="imageCount"></span></p>

    <section id="imageSection" style="display:none;">
        <h2>Images</h2>
        <div id="imageResultTemplate" class="tooltip-container" style="display:none;float:left;margin:4px">
            <img id="thumbnail" />
            <span id="tooltip" class="tooltip-text"></span>
        </div>
        <div id="imageResult"></div>
    </section>

    <script type="text/javascript">
        bootstrapHome();
    </script>
</body>
</html>